{% extends "index.html" %}

{% block content %}

<div class="card">

<h2>Linear Regression - Application</h2>

<ul>
    <li><strong>Problem description:</strong> Predict the final grade based on study hours.</li>
    <li><strong>Type of Machine Learning:</strong> Supervised Learning</li>
    <li><strong>Input data:</strong> Study hours entered by the user.</li>
    <li><strong>Expected output:</strong> Predicted final grade.</li>
    <li><strong>Real-world relevance:</strong> Helps estimate academic performance.</li>
</ul>

<hr>

<h3>Try the Model</h3>

<form method="POST">
    <label>Study Hours:</label><br><br>
    <input type="number" name="hours" step="0.1" required>
    <br><br>
    <button type="submit">Predict</button>
</form>

{% if prediction %}
    <h3>Predicted Grade: {{ prediction }}</h3>
    {% if graph %}
        <br>
        <img src="data:image/png;base64,{{ graph }}" alt="Regression Graph">
    {% endif %}
{% endif %}

{% if graph %}
    <h3>Model Visualization</h3>
    <img src="data:image/png;base64,{{ graph }}" style="max-width: 100%;">
{% endif %}

</div>

{% endblock %}